body {
	font-family: 'Lato', sans-serif;
}

header {
	background: url(../background-img/header_img.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#page-title {
	font-weight: 900;
	text-align: center;
	color: black;
}

#page-title h1 {
	font-weight: 900;
	font-size: 4rem;
	padding-top: 15rem;
	margin-top: 0;
} 

#page-title h2 {
	font-weight: 100;
	font-size: 3rem;
	padding-bottom: 10rem;
	border-bottom: 10px solid rgb(37,68,76);
}

#heading-page-break {
	background-color: red;
	height: 20px;
	width: 1000px;
}

#intro {

}

#intro h2 {
	padding-top: 6rem;
	margin: 0;
	text-align: center;
	padding-bottom: 12rem;
	font-weight: 300;
	border-bottom: 10px solid rgb(37,68,76);
}

#content-wrapper {
	background: url(../background-img/mountain_img.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding-top: 2rem;
  	margin-bottom: -7rem;
  	padding-bottom: 2rem;
}

#search-nav-wrapper {
	background-color: rgba(255,255,255,0.5);
	display: block;
	width: 50rem;
	margin-left: 16.5rem;
}

form {
	text-align: center;
	display: block;	
	width: 100%;
	font-weight: 300;
	padding-top: 3rem;
}

fieldset {
	border: none;
}

label {
	font-size: 2rem;
}

input {
	text-align: center;
	display: block;
	margin-left: 4rem;
	margin-top: 2rem;
	height: 4vw;
	width: 40rem;
	font-weight: 100;
	font-size: 23px;
	font-family: 'Lato', sans-serif;
	border: 2px solid black;
}

.navMenu h3{
	font-weight: 300;
	text-align: center;
	font-size: 1rem;
}

.navMenu ul {
	text-align: center;
}

.navMenu li {
	display: inline-block;
	text-align: center;
	margin: 1rem;
}

li:hover {
	cursor: pointer;
}

#instafeed {
	margin: 3rem 1vw 0rem 1vw;
	/*border: 5px solid rgb(37,68,76);*/
	background-color: rgba(166,169,175,0.8);
	margin-bottom: 5rem;

}

.instaImgContainer {
	width: 28%;
	margin: 2rem;
	display: inline-block;
	border: 2px solid gray;
	font-family: 'Lato', sans-serif;
	padding-top: 2rem;
	background-color: white;
}

.instaImg {
	padding-left: 30px;
	padding-top: 20px;

}


.instaLocation, .instaLikes, .insta-date, #insta-heart {
	display: inline-block;
	color: black;

}

.instaLocation {
	font-size: 1rem;
	font-weight: 300;
	float: left;
	padding-left: 40px;
}

.instaLikes {
	float: right;
	padding-right: 25px;
}

#insta-heart {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 10px;
	float: right;
}

.insta-date {
	margin-left: 3rem;
	font-weight: 100;
}

#insta-heart:hover {
	color: red;
}

#story {
	border-top: 20px solid rgb(37,68,76);
	background-color: rgb(255,255,255);
}

#story p {
	width: 80%;
	text-align: center;
	display: block;
	margin-left: 9rem;
	line-height: 35px;
	word-spacing: 2px;
}

footer {
	display: block;
	width: 100%;
	height: 5rem;
	background-color: black;
	border-top: 15px solid rgb(37,68,76);
	margin: 0;
}

footer a, footer p, footer span {
	display: inline-block;
	color: white;
	font-weight: 100;
	font-size: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 2rem;
}

#footer-link {
	margin-left: 5rem;
	text-decoration: none;
}

#footer-name{
	margin-left: 22rem;
}

#footer-date {
	margin-left: 2rem;
}

footer span {
	float: right;
	margin-right: 5rem;
	margin-left: 0.5rem;
	padding-top: 5px;
}

#footer-insta {
	float: right;
	text-decoration: none;
}



/*mobile styling*/
@media screen and (max-width: 500px) {

#page-title h1 {
	font-size: 3rem;

}

#page-title h2 {
	font-size: 2rem;
}

#intro h2 {
	font-size: 1.3rem;
	line-height: 9vw;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#search-nav-wrapper {
	width: 100%;
	margin-left: 0;
}

.searchBox form {
	text-align: inherit;
}

.searchBox label {
	padding-left: 6vw;
}

.searchBox input {
	margin-left: 0;
	margin-right: 0;
	width: 21rem;
	font-size: 17px;
	height: 10vw;
}

.instaImgContainer {
	width: 100%;
	margin: 0;
}

.navMenu ul {
	padding-left: 0
}

.navMenu li {
	width: 33%;
}

#footer-link, #footer-insta, #footer-date, #footer-name {
	margin: 0;
	display: inline-block;
	font-size: 1rem;
}

#footer-name {
	margin-left: 2rem;
}

.icon-instagram {
	margin: 0;
	padding-left: 0.5rem;
	font-size: 1rem;
	padding-right: 0.5rem;
}

}
/*Tablet styling*/
/*@media screen and (max-width: 1000px) 
*/
